__pycache__/
*.py[cod]
.env
.venv
.cache/
.poetry/
*.xml
install-scout.sh
infra/secrets-local/*.yaml
bin/argocd
bin/kubectl-argo-rollouts
infra/k8s/monitoring/charts/
infra/k8s/logging/charts/
kubectl-argo-rollouts*
